<header>
    <div class="header-logo">
        <img src="assets/img/logo-initial.png" alt="">
    </div>
    <div class="nav-bar">
        <a class="aboutme" href="#"><span>About Me</span>
            <div class="hover-fill-top"></div>
        </a>
        <a class="skills" href="#"><span>Skills</span>
            <div class="hover-fill"></div>
        </a>
        <a class="projects" href="#"><span>Projects</span>
            <div class="hover-fill"></div>
        </a>
        <a class="contact" href="#"><span>Contact</span>
            <div class="hover-fill"></div>
        </a>
    </div>

    <div class="cl-toggle-switch">
        <label class="cl-switch">
            <input type="checkbox">
            <span></span>
        </label>
    </div>
</header>