.header-container{
    position: relative;
    height: 0;
    width: 100%;
    max-width: 1920px;
    gap: 20px;
    margin: 0 auto;
    z-index: 99;
    
    header{
    height: 100px;
    width: 100%;
    max-width: 1680px;
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    font-family: "Bricolage Grotesque";
    margin: 0 auto;
    justify-content: space-between;
    
    .nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;


    > a {
      position: relative;
      color: white;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 15px;

      .hover-fill-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.5s ease-in-out;
        z-index: 0;
      }

        .hover-fill {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            transition: clip-path 0.5s ease-in-out;
            z-index: 1;
      }

      &:hover .hover-fill-top {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      &:hover .hover-fill{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      &.aboutme .hover-fill-top {
        background-image: url("/assets/draws/aboutme.png");
      }
      &.skills .hover-fill {
        background-image: url("/assets/draws/skills.png");
      }
      &.projects .hover-fill {
        background-image: url("/assets/draws/projects.png");
      }
      &.contact .hover-fill {
        background-image: url("/assets/draws/contact.png");
      }
    }
  }
    }
}

.header-logo{
    display: flex;
    position: relative;
    >img{
        width: 100px;
        height: 200px;
        object-fit: cover;
    }
}


.cl-toggle-switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;

    .border-fill-EN {
    position: absolute;
    top: 36px; 
    left: 0px;
    width: 30%;
    height: 30%;
    background-image: url(/assets/icons/border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 0.5s ease-in-out;
    z-index: 1;
  }
  .border-fill-DE {
    position: absolute;
    top: 36px; 
    left: 72px;
    width: 30%;
    height: 30%;
    background-image: url(/assets/icons/border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 0.5s ease-in-out;
    z-index: 1;
  }

  > .EN:hover ~ .border-fill-EN,
  > .DE:hover ~ .border-fill-DE {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  > .EN, > .DE {
            width: 50px;
            height: 50px;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 16px;
            font-weight: 600;
            transition: background-image 0.4s ease;
            background-size: cover;
            z-index: 5;
            cursor: pointer;
  }
}


.cl-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 50px 0px;
  position: relative; 

  > span::before {
    content: "";
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 60px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.38);
    vertical-align: top;
    pointer-events: none;
    transition: background-color 0.2s, opacity 0.2s;
  }

  > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    pointer-events: none;
    transition: background-color 0.2s, transform 0.2s;
  }

  input[type="range"] {
    width: 100%;
    height: 0;
    background: #ddd;
    border-radius: 3px;
 &::-webkit-slider-runnable-track {
    background: #f87a55; 
    height: 6px;         
    border-radius: 3px; 
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #f87a55;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    transition: transform 0.2s;
    outline: solid 1px white;
    transform: translateY(-5px)
  }
  &::-moz-range-track {
    background: #f87a55; 
    height: 6px;
    border-radius: 3px;
  }
    &::-moz-range-progress {
   
    background: #f87a55;  
    height: 6px;
    border-radius: 3px;
  }
    &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #f87a55;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    transition: transform 0.2s;
  }
  }
}

.black-header {

  color: #000; // oder andere Farben, die sichtbar sind
}