<div class="hero-background-container">
    <div class="hero-section">
        <div class="hero-content">
            <div class="title-section">
                <div class="frontend-section">
                    <button class="animation-button">
                        <span class="text-short">Hello World</span>

                        <span class="text-long">I'M ABBAS EL MAHMOUD</span>

                        <img src="assets/icons/waving_hand.png" alt="Hand" class="hand-wave" />
                    </button>


                    <h1>
                        <span class="other-f">F</span>
                        <span>r</span>
                        <span>o</span>
                        <span>n</span>
                        <span>t</span>
                        <span>e</span>
                        <span>n</span>
                        <span>d</span>
                    </h1>

                </div>

                <div class="dev-pic">
                    <img src="assets/img/devpic.png" alt="Foto von Abbas">
                    <span class="visible-text"><b></b></span>
                </div>
            </div>

            <h1>
                <span>D</span>
                <span>E</span>
                <span>V</span>
                <span>E</span>
                <span>L</span>
                <span>O</span>
                <span>P</span>
                <span>E</span>
                <span>R</span>
            </h1>

            <div class="btn-GIT">
                <button class="touch-button">Get in Touch</button>
            </div>
        </div>
    </div>
    <div class="social">

        <div class="fill-up-container">
            <a href="https://www.linkedin.com/in/abbas-el-mahmoud-348668361/">
                <img src="assets/icons/linkedin.png" alt="">
            </a>
        </div>

        <div class="fill-up-container">
            <a href="https://github.com/AbbasEl11">
                <img src="assets/icons/github.png" alt="">
            </a>
        </div>

        <div class="fill-up-container">
            <a href="mailto:abbas-el-mahmoud@hotmail.com">
                <img src="assets/icons/mail.png" alt="">
            </a>
        </div>
    </div>
</div>