<div class="hero-container">
    <div class="hero-content">
        <div class="title-section">
            <div class="frontend-section">
                <button class="animation-button">
                    <span class="text-short">Hello World</span>

                    <span class="text-long">I'M ABBAS EL MAHMOUD</span>

                    <img src="assets/icons/waving_hand.png" alt="Hand" class="hand-wave" />
                </button>


                <h1>Frontend</h1>

            </div>

            <img src="assets/img/devpic.png" alt="Foto von Abbas">

        </div>

        <h1>DEVELOPER</h1>

        <div class="btn-GIT">
            <button class="touch-button">Get in Touch</button>
        </div>

        <div class="social">

            <div class="fill-up-container">
                <a href="https://www.linkedin.com/in/abbas-el-mahmoud-348668361/">
                    <img src="assets/icons/linkedin.png" alt="">
                </a>
            </div>

            <div class="fill-up-container">
                <a href="https://github.com/AbbasEl11">
                    <img src="assets/icons/github.png" alt="">
                </a>
            </div>

            <div class="fill-up-container">
                <a href="mailto:abbas-el-mahmoud@hotmail.com">
                    <img src="assets/icons/mail.png" alt="">
                </a>
            </div>
        </div>

    </div>














</div>