<div class="footer-section">
    <footer>
        <div class="footer-logo">
            <a href="#" (click)="scrollToTop($event)"><img src="assets/img/logo-initial.png" alt=""></a>
        </div>

        <div class="copyright-content">
            <span>© Abbas El Mahmoud 2025</span>
        </div>

        <div class="nav-bar">
            <a class="aboutme mobile" [routerLink]="['/legal-notice']"><span>{{ 'CONTACT.LEGAL_NOTICE' | translate
                    }}</span>
                <div class="hover-fill"></div>
            </a>

            <div class="animation-button">
                <a class="aboutme" href="https://github.com/AbbasEl11" target="_blank">
                    <span>GitHub</span>
                </a>
                <img src="assets/icons/github-small.png" alt="github" class="icon-wave" />
            </div>

            <div class="animation-button">
                <a class="aboutme" href="https://www.linkedin.com/in/abbas-el-mahmoud-348668361/" target="_blank">
                    <span>LinkedIn</span>
                </a>
                <img src="assets/icons/linkedin-small.png" alt="linkedin" class="icon-wave" />
            </div>

            <div class="animation-button">
                <a class="aboutme" href="mailto:abbas-el-mahmoud@hotmail.com" target="_blank">
                    <span>Email</span>
                </a>
                <img src="assets/icons/mail-small.png" alt="email" class="icon-wave" />
            </div>


        </div>
    </footer>
</div>