<div class="skills-section">
    <div class="skill-content">
        <div class="title-skills">
            <h3>MY STACK</h3>
            <img class="stack-icon" src="/assets/draws/line_orange.png" alt="">
            <h1>Skill set</h1>
        </div>

        <div class="skills-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Suscipit ipsum magni, nisi expedita excepturi quod nihil consequuntur
                ratione ipsa necessitatibus cupiditate et soluta! Molestias inventore
                iusto totam amet minus quam?</p>
            <img src="/assets/img/paper-white.png" alt="">
        </div>


    </div>

    <div class="skill-endsection">
        <div class="skill-icons">
            <div class="icon">
                <img src="/assets/icons/Property1=HTML.png" alt="">
                <span>HTML</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=CSS.png" alt="">
                <span>CSS</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Js.png" alt="">
                <span>JavaScript</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Ts.png" alt="">
                <span>TypeScript</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Angular.png" alt="">
                <span>Angular</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Git.png" alt="">
                <span>Git</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Rest-Api.png" alt="">
                <span>Rest-Api</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=Scrum.png" alt="">
                <span>Scrum</span>
            </div>
            <div class="icon">
                <img src="/assets/icons/Property1=MaterialDesign.png" alt="">
                <span>Material <br> Design</span>
            </div>
        </div>
        <label class="pull-sticker">
            <input type="checkbox" class="sticker-checkbox">
            <img class="img-ptp" src="/assets/icons/pull-to-peel.png" alt="">
            <img class="img-blue-first" src="/assets/icons/sticker-blue-first.png" alt="">
            <img class="img-blue" src="/assets/icons/sticker-blue.png" alt="">
            <img class="img-gold" src="/assets/icons/sticker-gold.png" alt="">
        </label>
    </div>
</div>