<section class="colleagues-section">
    <div class="colleagues-header">
        <div class="blue-arrow-div">
            <div class="fill-blue-arrow"></div>
            <h3>IN THEIR WORDS:</h3>
        </div>
        <h1>Colleagues' Thoughts</h1>
    </div>
    <div class="red-cards-container">

        <div class="red-div-leo">
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
            <div class="red-card-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nemo sed
                repellat laboriosam? Porro
                impedit similique sapiente, cum ab illo fugit ipsam eos possimus error, assumenda repudiandae doloribus
                qui est!</div>
            <div class="red-card-content-bottom">
                <div>
                    <span>Leo Rullain</span><br>
                    <span>Frontend Developer</span>
                </div>

                <div>Profile</div>
            </div>
        </div>

        <div class="red-div-jannis">
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
            <div class="red-card-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nemo sed
                repellat laboriosam? Porro
                impedit similique sapiente, cum ab illo fugit ipsam eos possimus error, assumenda repudiandae doloribus
                qui est!</div>
            <div class="red-card-content-bottom">
                <div>
                    <span>Leo Rullain</span><br>
                    <span>Frontend Developer</span>
                </div>

                <div>Profile</div>
            </div>
        </div>

        <div class="red-div-dora">
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
            <div class="red-card-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nemo sed
                repellat laboriosam? Porro
                impedit similique sapiente, cum ab illo fugit ipsam eos possimus error, assumenda repudiandae doloribus
                qui est!</div>
            <div class="red-card-content-bottom">
                <div>
                    <span>Leo Rullain</span><br>
                    <span>Frontend Developer</span>
                </div>

                <div>Profile</div>
            </div>
        </div>
    </div>
</section>