<section class="colleagues-section" #colleaguesSection id="colleaguesSection">
    <div class="colleagues-header">
        <div class="blue-arrow-div">
            <div class="fill-blue-arrow"></div>
            <h3>{{ 'COLLEAGUES.HEADLINE_H3' | translate }}</h3>
        </div>
        <h1 [innerHTML]="'COLLEAGUES.HEADLINE_H1' | translate "></h1>
    </div>
    <div class="red-cards-container">

        <div class="red-card" data-card="leo">

            <div class="red-card-text">
                {{ 'COLLEAGUES.QUOTE_1' | translate }}
            </div>
            <div class="red-card-content-bottom">
                <div class="profile-content">
                    <span class="name">{{ 'COLLEAGUES.NAME_LEO' | translate }}</span><br>
                    <span class="job">{{ 'COLLEAGUES.JOB_LEO' | translate }}</span>
                </div>
                <div class="linkedin-profile">
                    <a href="">
                        <img class="linked-png" src="/assets/icons/Vector.png" alt="">
                        {{ 'COLLEAGUES.PROFILE_LINK' | translate }}
                    </a>
                </div>
            </div>
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
        </div>

        <div class="red-card" data-card="jannis">
            <div class="red-card-text">
                {{ 'COLLEAGUES.QUOTE_2' | translate }}
            </div>
            <div class="red-card-content-bottom">
                <div class="profile-content">
                    <span class="name">{{ 'COLLEAGUES.NAME_JANNIS' | translate }}</span><br>
                    <span class="job">{{ 'COLLEAGUES.JOB_JANNIS' | translate }}</span>
                </div>
                <div class="linkedin-profile">
                    <a href="">
                        <img class="linked-png" src="/assets/icons/Vector.png" alt="">
                        {{ 'COLLEAGUES.PROFILE_LINK' | translate }}
                    </a>
                </div>
            </div>
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
        </div>

        <div class="red-card" data-card="dora">

            <div class="red-card-text">
                {{ 'COLLEAGUES.QUOTE_3' | translate }}
            </div>
            <div class="red-card-content-bottom">
                <div class="profile-content">
                    <span class="name">{{ 'COLLEAGUES.NAME_DORA' | translate }}</span><br>
                    <span class="job">{{ 'COLLEAGUES.JOB_DORA' | translate }}</span>
                </div>
                <div class="linkedin-profile">
                    <a href="">
                        <img class="linked-png" src="/assets/icons/Vector.png" alt="">
                        {{ 'COLLEAGUES.PROFILE_LINK' | translate }}
                    </a>
                </div>
            </div>
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
        </div>
    </div>
</section>