<section class="colleagues-section">
    <div class="colleagues-header">
        <div class="blue-arrow-div">
            <div class="fill-blue-arrow"></div>
            <h3>IN THEIR WORDS:</h3>
        </div>
        <h1>Colleagues' Thoughts</h1>
    </div>
    <div class="red-cards-container">

        <div class="red-card" data-card="leo">
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
            <div class="red-card-text">"Working alongside Abbas El Mahmoud has been a fantastic experience. Their
                attention to detail and commitment to quality
                consistently elevate our projects. They have an impressive ability to transform complex ideas into
                user-friendly
                designs."</div>
            <div class="red-card-content-bottom">
                <div class="profile-content">
                    <span class="name">Leo Rullani</span><br>
                    <span class="job">Software Engineer</span>
                </div>
                <div class="linkedin-profile">
                    <a href=""><img class="linked-png" src="/assets/icons/Vector.png" alt="">Profile</a>
                </div>
            </div>
        </div>

        <div class="red-card" data-card="jannis">
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
            <div class="red-card-text">"Abbas El Mahmoud is not only a skilled frontend developer but also a great team
                player. They bring creativity and enthusiasm
                to every challenge, making collaboration enjoyable and productive. Their coding skills are matched only
                by their
                willingness to help others grow."</div>
            <div class="red-card-content-bottom">
                <div class="profile-content">
                    <span class="name">Jannis Meyer</span><br>
                    <span class="job">Fullstack Developer</span>
                </div>
                <div class="linkedin-profile">
                    <a href=""><img src="/assets/icons/Vector.png" alt="">Profile</a>
                </div>
            </div>
        </div>

        <div class="red-card" data-card="dora">
            <img class="hover-lines" src="/assets/draws/hover-lines.png" alt="">
            <div class="red-card-text">"I’ve had the pleasure of collaborating with Abbas El Mahmoud on several
                projects. Their innovative approach and technical
                expertise have been invaluable. They always stay updated with the latest trends, ensuring our work
                remains cutting-edge
                and effective."</div>
            <div class="red-card-content-bottom">
                <div class="profile-content">
                    <span class="name">Dora Teleksi</span><br>
                    <span class="job">Frontend Developer</span>
                </div>
                <div class="linkedin-profile">
                    <a href=""><img src="/assets/icons/Vector.png" alt="">Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>