<section class="project-details-section">
    <div class="all-content" *ngIf="project ">
        <div class="go-back-container">
            <a href="home" [routerLink]="['/']"><img src="/assets/draws/red-arrow.png" alt=""><b>{{
                    'PROJECT_DETAILS_.RETURN'|translate}}</b></a>
        </div>

        <div class="project-details-content">
            <div class="text-content">
                <h1 #titleRef>{{ project.title| translate }}</h1>
                <div #lineRef class="fill-blue-line"></div>

                <div class="description-content">
                    <h2>{{ 'PROJECT_DETAILS_.DESCRIPTION'| translate }}</h2>
                    <p>{{ project.description| translate }}</p>
                </div>
                <div class="details-content">
                    <h2>{{ 'PROJECT_DETAILS_.DETAILS'| translate }}</h2>
                    <p>{{ project.implementDetails | translate }}</p>

                    <span>
                        <h3>{{ 'PROJECT_DETAILS_.DURATION'| translate }}:</h3>{{ project.duration| translate }}
                    </span>

                    <div class="icons-content" *ngIf="project.materials?.length">

                        <div class="materials-container" *ngFor="let mat of project.materials">
                            <img [src]="mat.iconUrl" [alt]="mat.name">
                            {{ mat.name }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="image-content">
                <img [src]="project.imageUrl" [alt]="project.title">

                <div class="btn-image-content">
                    <a target="_blank" href="{{ project.gitHubUrl }}">GitHub</a>
                    <a target="_blank" [href]=" project.liveTestUrl " (click)="$event.stopPropagation()">Live Test</a>
                </div>

                <div class="next-project-container">
                    <button (click)="goToNextProject()">{{ 'PROJECT_DETAILS_.NEXT_PROJECT'| translate }} <img
                            src="/assets/draws/next.png" alt=""></button>
                </div>
            </div>

        </div>
    </div>
</section>