.aboutme-section {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: space-between;
  gap: 50px;

  .picture-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    position: relative;

    > .paper-yellow,
    > .paper-blue,
    > .paper-red {
      position: absolute;
      width: 300px;
      height: 200px;

      > span {
        display: flex;
        align-items: center;
        width: 350px;
        gap: 10px;
        position: absolute;
        font-size: clamp(12px, 2vw, 22px);
      }
      >img{
        width: 500px;
      }
    }

    > .paper-yellow {
      top: 20%;
      left: 0;
      z-index: 3;

      > span {
        top: 22%;
        left: 45%;
        gap: 10px;
        transform: rotate(-5deg);
      }
    }

    > .paper-blue {
      top: 39%;
      left: 0;
      z-index: 2;

      > span {
        top: 22%;
        left: 50%;
        gap: 10px;
      }
    }

    > .paper-red {
      top: 53%;
      left: 0%;
      z-index: 1;

      > span {
        gap: 10px;
        top: 30%;
        left: 40%;
        transform: rotate(3deg);
      }
    }
  }

.aboutme-content {
  display: block;
  flex-direction: column;
  width: 50%;

  > h3 {
    margin-top: 70px;
  font-size: clamp(20px, 2.5vw, 32px);
  }

  > h1 {
  font-size: clamp(38px, 6vw, 64px);
    margin: 0;
    padding-bottom: 0;
  }

  .fill-blue-line {
    top: 500px;
    left: 0;
    width: 300px;
    height: 20px;
    background-image: url(/assets/draws/blue_line.png);
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    z-index: 999;
    animation: blueLineAnimation 4s infinite alternate ease-in-out;

    @keyframes blueLineAnimation {
      0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
    }
  }

  > img {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  > p {
    height: 200px;
    font-size: 20px;
  }

  .btn-lets-talk {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    > .talk-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 40px;
      background-color: transparent;
      color: #000000;
      font-size: 19px;
      padding: 1rem 0rem;
      border: solid 1px rgb(0, 0, 0);
      outline: none;
      border-radius: 50px;
      cursor: pointer;
      transform: translateY(-4px) translateX(-4px);
      box-shadow: 2px 4px 1px 0px #020202;
      transition: transform 0.15s ease, box-shadow 0.15s ease;

      &:hover {
        transform: translateY(0);
        box-shadow: 0 0 0 0 #f5f6f7;
        background-color: #f87a55;
        color: white;
      }
    }
  }
}
}

@media (max-width: 1300px) {
  .aboutme-section {
    gap: 0;
    justify-content: center;

    .aboutme-content {
      width: 40%;

      > p {
        font-size: 14px;
      }

      .btn-lets-talk {
        height: 25px;
      }
    }

    .picture-content {
      width: 40%;

      > .paper-blue,
      > .paper-red,
      > .paper-yellow {
        > span {
          font-size: 18px;

          > img {
            width: 40px;
          }
        }

        > img {
          width: 400px;
          height: 150px;
        }
      }

      .paper-blue {
        top: 42%;
        left: 0;

        > span {
          top: 14%;
          left: 40%;
        }

        > img {
          height: 100px;
        }
      }

      .paper-red {
        top: 51%;
        left: 0;

        > span {
          top: 25%;
          left: 25%;
        }
      }

      .paper-yellow {
        top: 25%;
        left: 0;

        > span {
          top: 20%;
          left: 30%;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .aboutme-section {
    flex-direction: column-reverse;
    max-width: 600px;

    .aboutme-content {
      width: 100%;
    }

    .picture-content {
      width: 100%;
      height: 500px;

      .paper-blue {
        top: 45%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 150px;
        }

        > span {
          top: 20%;
          left: 25%;
          font-size: 22px;

          > img {
            width: 60px;
          }
        }
      }

      .paper-red {
        top: 60%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 200px;
        }

        > span {
          top: 35%;
          left: 25%;
          font-size: 22px;

          > img {
            width: 60px;
          }
        }
      }

      .paper-yellow {
        top: 20%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 200px;
        }

        > span {
          top: 25%;
          left: 25%;
          font-size: 22px;

          > img {
            width: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 645px) {
  .aboutme-section {
    max-width: 430px;

    .aboutme-content {
      width: 100%;
      .fill-blue-line{
        width: 180px;
        background-size: 180px 15px ;
      }
    }

    .picture-content {
      width: 100%;
      height: 500px;

      .paper-blue {
        top: 40%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 100px;
        }

        > span {
          top: 13%;
          left: 30%;
          font-size: 18px;

          > img {
            width: 40px;
          }
        }
      }

      .paper-red {
        top: 50%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 150px;
        }

        > span {
          top: 27%;
          left: 25%;
          font-size: 18px;

          > img {
            width: 40px;
          }
        }
      }

      .paper-yellow {
        top: 20%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 150px;
        }

        > span {
          top: 18%;
          left: 30%;
          font-size: 18px;

          > img {
            width: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .aboutme-section {
    max-width: 371px;

    .aboutme-content {
      width: 100%;
    }

    .picture-content {
      width: 100%;
      height: 500px;

      .paper-blue {
        top: 40%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 100px;
        }

        > span {
          top: 13%;
          left: 25%;
          font-size: 18px;

          > img {
            width: 40px;
          }
        }
      }

      .paper-red {
        top: 50%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 150px;
        }

        > span {
          top: 27%;
          left: 20%;
          font-size: 18px;

          > img {
            width: 40px;
          }
        }
      }

      .paper-yellow {
        top: 20%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 150px;
        }

        > span {
          top: 18%;
          left: 25%;
          font-size: 18px;

          > img {
            width: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .aboutme-section {
    max-width: 305px;

    .aboutme-content {
      width: 100%;

      .btn-lets-talk {
        height: 80px;
      }
    }

    .picture-content {
      width: 100%;
      height: 500px;

      .paper-blue {
        top: 36%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 90px;
        }

        > span {
          top: 13%;
          left: 25%;
          font-size: 16px;

          > img {
            width: 30px;
          }
        }
      }

      .paper-red {
        top: 46%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 120px;
        }

        > span {
          top: 23%;
          left: 17%;
          font-size: 16px;

          > img {
            width: 30px;
          }
        }
      }

      .paper-yellow {
        top: 20%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 120px;
        }

        > span {
          top: 14%;
          left: 22%;
          font-size: 16px;

          > img {
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .aboutme-section {
    max-width: 268px;

    .aboutme-content {
      width: 100%;

      .btn-lets-talk {
        height: 130px;
        .talk-button {
          font-size: 16px;
          width: 120px;
          height: 20px;
        }
      }
    }

    .picture-content {
      width: 100%;
      height: 500px;

      .paper-blue {
        top: 36%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 90px;
        }

        > span {
          top: 13%;
          left: 25%;
          font-size: 14px;

          > img {
            width: 25px;
          }
        }
      }

      .paper-red {
        top: 46%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 120px;
        }

        > span {
          top: 23%;
          left: 17%;
          font-size: 14px;

          > img {
            width: 25px;
          }
        }
      }

      .paper-yellow {
        top: 20%;
        left: 0;
        width: 100%;

        > img {
          width: 100%;
          height: 120px;
        }

        > span {
          top: 16%;
          left: 22%;
          font-size: 14px;

          > img {
            width: 25px;
          }
        }
      }
    }
  }
}