<div class="aboutme-section">
    <div class="picture-content">

        <div class="paper-yellow">
            <img src="/assets/img/paper-yellow.png" alt="">
            <span><img src="/assets/icons/location-icon1.png" alt="">Based in Cologne</span>
        </div>

        <div class="paper-blue">
            <img src="/assets/img/paper-blue.png" alt="">
            <span><img src="/assets/icons/location-icon2.png" alt="">Open to relocate</span>
        </div>

        <div class="paper-red">
            <img src="/assets/img/paper-red.png" alt="">
            <span><img src="/assets/icons/location-icon3.png" alt="">Open to work remote</span>
        </div>
    </div>

    <div class="aboutme-content">
        <h3>WHO'S ABBAS?</h3>
        <h1>About me</h1>
        <div class="fill-blue-line"></div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eius quis aut eveniet, debitis maxime veniam officia saepe!
            Necessitatibus magni nisi, aspernatur possimus dicta inventore praesentium laboriosam,
            ex voluptatum, voluptas excepturi?</p>

        <div class="btn-lets-talk">
            <button class="talk-button">Let's talk</button>
        </div>

    </div>
</div>