body{
    max-width: 1920px;
    margin: 0;
    font-family: "Bricolage Grotesque";
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("assets/fonts/BricolageGrotesque/BricolageGrotesque-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("assets/fonts/BricolageGrotesque/BricolageGrotesque-regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
